<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<plugin>

<!--import from org.eclipse.birt.me.prettyprint.hector-->
   <extension id="org.eclipse.birt.me.prettyprint.hector" name="%extension.name" point="org.eclipse.birt.core.ScriptFunctionService">
      <JSLib location="lib/">
      </JSLib>
   </extension>

<!--import from org.eclipse.birt.report.data.oda.jdbc.dbprofile.sampledb-->
   
   <extension point="org.eclipse.datatools.connectivity.driverExtension">
      <driverTemplate createDefault="false" defaultDefinitionName="BIRT SampleDb Derby Embedded Driver" emptyJarListIsOK="false" id="org.eclipse.birt.report.data.oda.jdbc.dbprofile.sampledb.driverTemplate" jarList="derby.jar" name="BIRT SampleDb Derby Embedded JDBC Driver" parentCategory="org.eclipse.datatools.connectivity.db.derby.10_2.driverCategory" valuesProvider="org.eclipse.birt.report.data.oda.jdbc.dbprofile.sampledb.internal.impl.SampleDbValuesProvider">
         <properties>
            <property generated="false" id="org.eclipse.datatools.connectivity.db.driverClass" name="Driver class" required="true" value="org.apache.derby.jdbc.EmbeddedDriver" visible="false"/>
            <property generated="false" id="org.eclipse.datatools.connectivity.db.vendor" name="Vendor" required="true" value="Derby" visible="true"/>
            <property generated="false" id="org.eclipse.datatools.connectivity.db.version" name="Version" required="true" value="10.2" visible="false"/>   
            <property generated="false" id="org.eclipse.datatools.connectivity.db.databaseName" name="Database" required="true" value="BirtSample" visible="true"/>                             
            <property generated="false" id="org.eclipse.datatools.connectivity.db.URL" name="Connection URL" required="true" value="jdbc:derby:Plugin_State_Location/db/BirtSample" visible="true"/>
            <property generated="false" id="org.eclipse.datatools.connectivity.db.username" name="User name" required="false" value="ClassicModels" visible="false"/>
            <property generated="false" id="org.eclipse.datatools.connectivity.db.password" name="Password" required="false" visible="false"/>
            <property generated="false" id="org.eclipse.datatools.connectivity.db.savePWD" name="Save password" required="true" value="true" visible="false">
            </property>
         </properties>
      </driverTemplate>
   </extension>

   <extension point="org.eclipse.datatools.connectivity.ProfileManagerInitializationProvider">
      <connection connectionInitializer="org.eclipse.birt.report.data.oda.jdbc.dbprofile.sampledb.internal.impl.SampleDbFactory" connectionProfileID="org.eclipse.datatools.connectivity.db.derby.embedded.connectionProfile" connectionProfileName="BIRT Classic Models Sample Database" driverDefinitionName="BIRT SampleDb Derby Embedded Driver" driverTemplateID="org.eclipse.birt.report.data.oda.jdbc.dbprofile.sampledb.driverTemplate">
         <property id="org.eclipse.datatools.connectivity.db.URL" value="jdbc:derby:Plugin_State_Location/db/BirtSample">
         </property>
      </connection>
   </extension>

   <extension point="org.eclipse.datatools.connectivity.oda.consumer.propertyProvider">
      <dataSourcePropertyService consumerApplicationId="org.eclipse.birt.report.data.oda.jdbc.dbprofile.sampledb.driverTemplate" providerClass="org.eclipse.birt.report.data.oda.jdbc.dbprofile.sampledb.internal.impl.SampleDbPropertyProvider">
      </dataSourcePropertyService>
   </extension>

<!--import from org.eclipse.birt.report.data.oda.sampledb-->

     <extension point="org.eclipse.datatools.connectivity.oda.dataSource">
      <dataSource defaultDisplayName="Classic Models Inc. Sample Database" driverClass="org.eclipse.birt.report.data.oda.sampledb.SampleDBDriver" id="org.eclipse.birt.report.data.oda.sampledb" odaVersion="3.1" setThreadContextClassLoader="false">
            <properties>
            <propertyGroup defaultDisplayName="Connection Properties" name="connectionProperties">
               <property canInherit="true" defaultDisplayName="JDBC Driver Class" name="odaDriverClass" type="string"/>
               <property canInherit="true" defaultDisplayName="JDBC Driver URL" name="odaURL" type="string"/>
               <property canInherit="true" defaultDisplayName="Data Source" name="odaDataSource" type="string"/>
               <property canInherit="true" defaultDisplayName="User Name" name="odaUser" type="string"/>
               <property canInherit="true" defaultDisplayName="Password" isEncryptable="true" name="odaPassword" type="string"/>
            </propertyGroup>
            <propertyVisibility name="odaDataSource" visibility="hide"/>
         </properties>
      </dataSource>   
      <dataSet defaultDisplayName="SQL Select Query" id="org.eclipse.birt.report.data.oda.jdbc.JdbcSelectDataSet">
            <dataTypeMapping nativeDataType="BIT" nativeDataTypeCode="-7" odaScalarDataType="Integer"/>
            <dataTypeMapping nativeDataType="TINYINT" nativeDataTypeCode="-6" odaScalarDataType="Integer"/>
            <dataTypeMapping nativeDataType="SMALLINT" nativeDataTypeCode="5" odaScalarDataType="Integer"/>
            <dataTypeMapping nativeDataType="INTEGER" nativeDataTypeCode="4" odaScalarDataType="Integer"/>
            <dataTypeMapping nativeDataType="BIGINT" nativeDataTypeCode="-5" odaScalarDataType="Decimal"/>
            <dataTypeMapping nativeDataType="FLOAT" nativeDataTypeCode="6" odaScalarDataType="Double"/>
            <dataTypeMapping nativeDataType="REAL" nativeDataTypeCode="7" odaScalarDataType="Double"/>
            <dataTypeMapping nativeDataType="DOUBLE" nativeDataTypeCode="8" odaScalarDataType="Double"/>
            <dataTypeMapping nativeDataType="NUMERIC" nativeDataTypeCode="2" odaScalarDataType="Decimal"/>
            <dataTypeMapping nativeDataType="DECIMAL" nativeDataTypeCode="3" odaScalarDataType="Decimal"/>
            <dataTypeMapping nativeDataType="CHAR" nativeDataTypeCode="1" odaScalarDataType="String"/>
            <dataTypeMapping nativeDataType="VARCHAR" nativeDataTypeCode="12" odaScalarDataType="String"/>
            <dataTypeMapping nativeDataType="LONGVARCHAR" nativeDataTypeCode="-1" odaScalarDataType="String"/>
            <dataTypeMapping nativeDataType="DATE" nativeDataTypeCode="91" odaScalarDataType="Date"/>
            <dataTypeMapping nativeDataType="TIME" nativeDataTypeCode="92" odaScalarDataType="Time"/>
            <dataTypeMapping nativeDataType="TIMESTAMP" nativeDataTypeCode="93" odaScalarDataType="Timestamp"/>
            <dataTypeMapping nativeDataType="BOOLEAN" nativeDataTypeCode="16" odaScalarDataType="Boolean"/>
            <dataTypeMapping nativeDataType="BINARY" nativeDataTypeCode="-2" odaScalarDataType="String"/><!--Blob"/>-->
            <dataTypeMapping nativeDataType="VARBINARY" nativeDataTypeCode="-3" odaScalarDataType="String"/><!--Blob"/>-->
            <dataTypeMapping nativeDataType="LONGVARBINARY" nativeDataTypeCode="-4" odaScalarDataType="String"/><!--Blob"/>-->
            <properties>
            	<propertyGroup defaultDisplayName="Query Properties" name="queryProperties">
               		<property canInherit="true" defaultDisplayName="&amp;Query Time Out (in seconds)" name="queryTimeOut" type="string"/>
                     <property canInherit="false" defaultDisplayName="&amp;Row Fetch Size" name="rowFetchSize" type="string"/>
           		 </propertyGroup>
         	</properties>
      </dataSet>

   </extension>
        <extension point="org.eclipse.datatools.connectivity.connectionProfile">
      <category id="org.eclipse.birt.report.data.oda.sampledb" name="Classic Models Inc. Sample Database" parentCategory="org.eclipse.datatools.connectivity.oda.profileCategory"/>
      <connectionProfile category="org.eclipse.birt.report.data.oda.sampledb" id="org.eclipse.birt.report.data.oda.sampledb" name="BIRT Sample DB Data Source Connection Profile" pingFactory="org.eclipse.datatools.connectivity.oda.profile.OdaConnectionFactory"/>
      <connectionFactory class="org.eclipse.datatools.connectivity.oda.profile.OdaConnectionFactory" id="org.eclipse.datatools.connectivity.oda.IConnection" name="ODA Connection Factory" profile="org.eclipse.birt.report.data.oda.sampledb"/>
   </extension>
   
   <extension point="org.eclipse.birt.report.data.oda.jdbc.driverinfo">
      <jdbcDriver connectionFactory="org.eclipse.birt.report.data.oda.sampledb.SampleDBJDBCConnectionFactory" driverClass="org.eclipse.birt.report.data.oda.sampledb.Driver" name="Classic Models Inc. SampleDB Driver" urlTemplate="jdbc:classicmodels:sampledb"/>
   </extension>

<!--import from uk.co.spudsoft.birt.emitters.excel-->
   <extension id="uk.co.spudsoft.birt.emitters.excel" name="SpudSoft BIRT Emitters" point="org.eclipse.birt.report.engine.emitters">
      <emitter class="uk.co.spudsoft.birt.emitters.excel.XlsxEmitter" format="xlsx" id="uk.co.spudsoft.birt.emitters.excel.XlsxEmitter" mimeType="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" pagination="page-break-pagination">
      </emitter>
      <emitter class="uk.co.spudsoft.birt.emitters.excel.XlsEmitter" format="xls_spudsoft" id="uk.co.spudsoft.birt.emitters.excel.XlsEmitter" mimeType="application/vnd.ms-excel" pagination="page-break-pagination">
      </emitter>
   </extension>

<!--import from org.eclipse.birt.report.engine.dataextraction.csv-->
   <extension point="org.eclipse.birt.report.engine.dataExtraction">
         <dataExtraction class="org.eclipse.birt.report.engine.dataextraction.csv.CSVDataExtractionImpl" format="csv" id="org.eclipse.birt.report.engine.dataextraction.csv" mimeType="text/csv" name="CSV"/>
   </extension>
</plugin>